
<form action="" id="popupForm" method="post">
{% if data %}
<input data-val="true" data-val-regex="ID is not valid" data-val-regex-pattern="^([a-zA-Z0-9]+)$" id="id" name="id" type="hidden" value="{{ id|e }}" />
{% endif %}
	<div class="form-group">
        <label>Name</label>
        <input class="form-control" data-val="true" data-val-required="Name required" id="name" name="name" type="text" value="{{ data.name|e }}" />
        <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
    </div>
    <!--
    <div class="form-group">
        <label>Students</label>
        <input class="form-control" data-val="true" data-val-required="Students required" id="students" name="students" type="text" value="{{ data.students|e }}" />
        <span class="field-validation-valid" data-valmsg-for="students" data-valmsg-replace="true"></span>
    </div>
    -->

    <div style="background-color:#CCC; padding:20px;">
      <select id="wkSelect" multiple="multiple" name="students">
{% if data.users %}
    {% for student in data.users %}
          {% if data.student %}
             {% if student._id['$oid'] in data.student %}
                <option value="{{ student._id['$oid'] }}" selected>{{ student.firstName }}</option>
              {% else %}
                <option value="{{ student._id['$oid'] }}">{{ student.firstName }}</option>
              {% endif %}
          {% else %}
                <option value="{{ student._id['$oid'] }}">{{ student.firstName }}</option>
          {% endif %}
    {% endfor %}
{% endif %}
      </select>
    </div>

    <div>
        <input type="submit" id="savedata" class="btn btn-success" value="Save" />
    </div>
</form>
    <script type="text/javascript">
        $(document).ready(function() {
			dialogSubmitter('course',oTableCourses);
            //$("#wkSelect").multiselect();
            multiselector($('#wkSelect'));
        });
    </script>